/* Style sheet for the Trivia project; i intent to incorporate as much previous CSS work as possible into this. */

body {
    background-image: url(../images/2+Banner+Fleur+de+Lis+Print.png)
}

header {
    background: rgb(231, 215, 121);
    display: block;
    width: 400px;
    border: 10px solid gold;
    padding: 10px;
    margin: 10x;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Charmonman', cursive;
    
}

.quizbody {
    display: none
}
/* Included the Google Font 'Charmonman' and a cool parchment paper background, however the display on the 
right side of the body is not correct. */
.mainbody{
    display: block;
    /* background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62); */
    /* background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=cfd698ff&noise=ebebe8&density=62&opacity=45); */
    background-image: url(../images/Parchment-Body.png);
    /* background: rgb(196, 196, 50); */
    width: 53%;
    height: 2000px;
    border-style: 10px gold; 
    /* border-style not in effect somehow */
    padding: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Charmonman', cursive;
    font-size: 22px;
}


#start {
    background: rgb(35, 35, 209);
    text-align: center;

}

#quiztime {
    background: rgb(111, 111, 202);
    text-align: center;
}

#results {
    background: rgb(235, 8, 8);
    text-align: center;
}